// main color palette
// =============
$color-primary:             #000;
$color-secondary:           #fff;
$color-accent:              #333;
$color-shadow:              #000;
$color-note:                #666;

// Links
$color-link:                $color-primary;
$color-link-hover:          $color-secondary;
$color-link-visited:        $color-secondary;
