$base-font-size:              16px;
$base-line-height:            24px;
$base-font-weight-normal:     400;
$base-font-weight-bold:       700;
$font-family-sans-fallback:   'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-family-sans:            "nimbus-sans-extended", $font-family-sans-fallback;
